img{
                width: 180px;
            }
            .container {
            display: flex
            }
            .content {
                flex-grow: 1;
            }
            li{
                display: block;
            }
            ol{
                padding: 1em;
                background: linear-gradient(#ffefdc 0%,#fbbcbc 100%); 
            }
            header{
                padding: 1px;
                background-image: url(https://th.bing.com/th/id/OIP.D8ev0VY-7FxS1hBpm9bokwHaE3?w=285&h=187&c=7&r=0&o=5&dpr=1.3&pid=1.7);
                text-align: center;
            }
            p{
                padding: 1em;
                background: linear-gradient(#ffefdc 0%,#fbbcbc 100%); 
            }
            a{
            text-decoration: underline;
            float: left;
            border: outset ;
        }
        a:hover{
            border: inset;
            background: palegreen;
        }
        a:focus{
            background: burlywood;
        }
        h2{
            border: double#c66464;
        }
        h2:hover{
            background: linear-gradient(#ffefdc 0%,#fbbcbc 100%); 
        }
        h3{
            border: double#c66464;
        }
        h3:hover{
            background: linear-gradient(#ffefdc 0%,#fbbcbc 100%); 
        }